.hello:link{
	color: orange;
}

.hello:hover{
	color : green;
	font-family: arial;
	font-size: 20px;
}

.hello:active{
	font-style: italic;

}

.hello:visited{
	color: red;
}

ul li:first-child a{
	color: blue;
}

ul li:nth-child(even) a{
	color: green;
}

ul li:nth-child(even) a:hover{
	color: yellow;
}

p:first-of-type{
	color: lightcoral;
}